html{
  scroll-behavior: smooth;
}

.fs-52{
  font-size: 52pt;
}

.fs-18{
  font-size: 18pt;
}

.font{
	font-family: 'Roboto Mono', monospace;
}

.font-delete{
  font-family: 'Padauk', sans-serif;
  font-size: 16pt;
}

