#img-bg{
    background-image: url('https://i.imgur.com/iaIM0hL.png');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa-eye{
  position:absolute ;
  top: 55px;
  right: 10px;
  cursor: pointer;
  color:black ;
}

.label-float{
  position: relative;
  padding-top: 13px;
}
