ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color: white;
    padding-left: 10px;
}

.fa-instagram:hover{
    color: #d94364;
}

.fa-linkedin:hover{
    color: #0072b1;
}

.fa-github:hover{
    color: black;
}

.bg{
    background-color: #4682B4;
}

.bg-footer{
    background-color: #4682B4;
}
